icecream
tensorflow
tensorboardX
tensorboard
jupyterlab
ipywidgets
scikit-learn
numpy
matplotlib
tqdm
pandas
transformers[sentencepiece]==4.43.1
datasets
evaluate
accelerate
#rouge-score
torchviz
nltk